@using Umbraco.Cms.Web.Common.PublishedModels;
@using BasisProjectUmbraco.ViewModels;
@inherits UmbracoViewPage<ContactFormViewModel>


<div class="col-lg-8 col-md-6 col-sm-12">
    <div class="contact-form">
        @using (Html.BeginUmbracoForm("SubmitForm", "ContactForm"))
        {
            @*<form id="contact" action="" method="get">*@
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <fieldset>
                        <input name="email" type="email" class="form-control" id="email" placeholder="E-Mail Address" required="">
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset>
                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset>
                        <button type="submit" id="form-submit" class="main-button">Send Message</button>
                    </fieldset>
                </div>
            </div>
            @*</form>*@
        }
    </div>
</div>

