@using UmbNav.Core.Extensions
@using UmbNav.Core.Models
@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    HomePage rootModel = (Model.AncestorOrSelf<HomePage>());
}
@if (rootModel.Navbar.Count() != 0||rootModel.Logo != null)
{
    <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="#" class="logo">
                        @{
                            var img = rootModel.Logo;
                            if (img != null)
                            {
                                <img src="@img.MediaUrl()" alt="@(!string.IsNullOrEmpty(rootModel.LogoImageAlt) ? rootModel.LogoImageAlt : "")" />
                            }
                        }
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        @*@navBar*@
                        @{
                                foreach (UmbNavItem item in rootModel.Navbar)
                                {
                                    <li>
                                        <a href="@item.Url()">@item.Title</a>
                                    </li>
                                }
                        }
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
}